@import '~antd/dist/antd.css';
@import "variables";
@import "common";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}


.clearfix {
  overflow: auto;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}


.text-center {
  text-align: center;
}
