@import "../../styles/variables";

#app-bar {
  min-height: 100vh;

  .trigger {
    display: inline-block;
    flex-grow: 1;
    i {
      font-size: 1.6rem;
      line-height: 6.4rem;
      padding: 0 2.4rem;
      cursor: pointer;
      transition: color 0.3s;
    }
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 3.2rem;
    background: rgba(255, 255, 255, 0.2);
    margin: 1.6rem;
  }

  .main-content {
    margin: 2.4rem 1.6rem;
    padding: 2.4rem;
    background-color: $color-white;
    min-height: 28rem;
  }

  .header {
    background: $color-white;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
  }

}
