@import "../../styles/variables";

#app-bar {
  min-height: 100vh;

  .trigger {
    display: inline-block;
    flex-grow: 1;
    i {
      font-size: 1.6rem;
      line-height: 6.4rem;
      padding: 0 2.4rem;
      cursor: pointer;
      transition: color 0.3s;
    }
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    img {
      height: 5rem;
    }
    span {
      padding-left: .5rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 3rem;
      font-weight: bold;
      line-height: 1.6;
      vertical-align: middle;
    }
  }

  .main-content {
    padding: 2.4rem;
    background-color: $color-white;
    min-height: 28rem;
  }

  .header {
    background: $color-white;
    padding: 0;
    display: flex;
    height: 6.4rem;
    flex-direction: row;
    padding-right: 2rem;
    box-shadow: 0 4px 2px -2px grey;
  }

  .user_area {
    cursor: pointer;
    span {
      margin-left: 1rem;
    }
  }
}
