# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage

.next
next.config.js
tailwind.config.js
generated/
public/

.lintstagedrc.json
yarn.lock
package.json

serverless-prod.yml
serverless-staging.yml
