.buildingitem {
  border-top: .4rem solid #999999;
  padding-top: 1rem;
  &_detail {
    display: flex;
    flex-direction: row;

    & > div {
      vertical-align: top;
      border-left: 1px dotted #c2c2c2;
      box-sizing: border-box;
      padding: 1rem;

      &:first-child {
        border-left: none !important;
      }
    }
  }
  &_object {
    img {
      height: 18rem;
    }
  }

  &_content {
    &-title {
      margin-top: 1rem;
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 1.3;
    }
    &-body {
      margin-top: 1rem;
      border-top: 1px dotted #c2c2c2;
      border-bottom: 1px dotted #c2c2c2;
      padding: .5rem 0;
    }

    &-label span {
      border: 1px solid #6FBA2C;
      color: #6FBA2C;
      display: inline-block;
      vertical-align: middle;
      padding: 3px;
      font-size: 10px;
      line-height: 1;
      background-color: #FFFFFF;
    }
  }

  &-rooms {
    margin-top: 1rem;
  }
}
